/* Default theme */
.default {
    background-color: #17153B;
    color: white;
  } 
  
  /* White theme */
  .white {
    background-color: #ffffff;
    color: #000000;
  }
  
  /* Black theme */
  .black {
    background-color: #000000;
    color: #ffffff;
  }